.modal-backdrop.show {
  --bs-backdrop-opacity: 0.8;
  backdrop-filter: blur(4px);
}
.modal {
  --bs-modal-bg: var(--bs-slate-800);
  --bs-modal-border-color: var(--bs-slate-700);
  --bs-modal-header-border-color: var(--bs-slate-700);
}

.modal-content {
  background-color: transparent;
  .modal-body {
    background-color: var(--bs-modal-content-bg);
  }
}

.btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

html[data-bs-theme='dark'] .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}
