$bg-color: #f5f5f5;
$dark-gray: #333;
$grey-txt: #787878;
$mulberry-pink: #c71585;
$light-gray: #d3d3d3;
$hover-bg: #d3d3d333;
$font-heading: "Open Sans", sans-serif;
$font-body: "Roboto", sans-serif;
$font-extra: "Ariel", "PT Serif", serif;
$hover-transition: all cubic-bezier(.4,0,.2,1) .15s;