@use 'partials/variables' as *;

.wrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  line-height: 1.5em;

  .title,
  .subTitle {
    text-align: center;
    line-height: normal;
  }

  .title {
    font-size: 5em;
    font-weight: 100;
    font-family: $font-extra;
    margin-bottom: 0;
    color: $mulberry-pink;
  }

  .subTitle {
    font-weight: 300;
  }

  .optionsList {
    li {
      margin-bottom: 0.6em;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
