@use 'partials/variables' as *;
@use 'partials/mixins';

#experience {
  .expDate {
    font-size: 0.8rem;
    margin-top: 0.4rem;
  }
  .expTitle {
    font-size: 1.102rem;
    font-weight: 700;
  }
  .expCompany {
    margin-left: 0.4rem;
    color: var(--grey-txt);
    font-weight: 600;
  }
  .expCompany,
  .expTitle {
    color: var(--dark-gray);
    font-family: $font-heading;
  }
  .expDesc {
    #actionList {
      display: flex;
      gap: 1rem;
      margin: 1rem 0;
      flex-wrap: wrap;
      @media (max-width: 500px) {
        gap: 0.5rem;
      }
    }
  }
  .expActionWrap {
    margin-bottom: 1.3em;
  }
  @media (max-width: 500px) {
    .expDate {
      font-size: 0.75rem;
    }
    .expTitle {
      font-size: 1.05rem;
    }
  }
}
