@use "partials/variables" as *;
@use "partials/mixins";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none;
}

html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
  margin: 0;
}

body {
  font-family: $font-body;
  padding: 0;
  background-color: $bg-color;
  background-color: #ede8efc2;
  color: $dark-gray;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;

  #gatsby-focus-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
      flex: 1;
      color: #606060;
      letter-spacing: 0.02em;
      line-height: 1.625;
      margin-top: 20px;
      @media (min-width: 500px) {
        font-size: 1.15em;
      }
    }

    .container {
      max-width: 1050px;
      width: 100%;
      margin: 0 auto;
      @media (min-width: 500px) {
        padding: 20px;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $font-heading;
    }

    a {
      color: $mulberry-pink;
    }

    aside {
      position: sticky;
      top: calc(160px - 140px);

      h1 {
        margin: 0.3rem 0;
      }
      h2 {
        margin: 0;
        font-size: 1.15rem;
        font-weight: 600;
      }
      p {
        color: $grey-txt;
        line-height: 1.4;
        margin: 0.4rem 0;
      }

      @media (min-width: 500px) {
        h1 {
          font-size: 3rem;
          line-height: 1;
        }
        h2 {
          font-size: 1.25rem;
          line-height: 1.75;
        }
        p {
          font-size: 1.2rem;
        }
      }
    }

    .respImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: inherit;
    }

    .rnd {
      border-radius: 0.375rem;
    }

    .arrowWrap {
      margin-left: 0.2rem;
      .arrow {
        font-size: 1.1rem;
        vertical-align: middle;
        transition: $hover-transition;
      }
    }

    .displayItem {
      margin-bottom: 1rem;
      padding: 0.5rem 0.8rem;
      transition: $hover-transition;

      &:hover {
        background: $hover-bg;
        @include mixins.arrow-hover();
      }
      &.disabled {
        opacity: 0.5;
      }
    }

    .filterBtn {
      all: unset;
      padding: 0.25rem 0.75rem;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.1s ease-in;
      background: #c715861f;
      color: $mulberry-pink;
      font-size: 0.85rem;
      &:hover,
      &.active {
        background: #c715853d;
        color: #4d4b4b;
        font-weight: 700;
      }
      @media (max-width: 500px) {
        font-size: 0.65rem;
      }
    }

    .actionLink {
      display: inline-block;
      margin-top: 1rem;
      transition: $hover-transition;
      font-weight: 600;

      a {
        color: $dark-gray;
      }
      &:hover {
        a,
        .arrow {
          color: $mulberry-pink;
        }

        @include mixins.arrow-hover();
      }
    }

    .noBtn {
      all: unset;
      cursor: pointer;
      display: inline-block;
    }
  }
}
