@use 'partials/variables' as *;

.projectGrid {
  grid-row-gap: 40px;
  margin-top: -20px;

  .projectTile {
    cursor: pointer;
    position: relative;
    padding-top: 0 !important;
  }

  .tileWrapper {
    position: relative;
    min-height: 269px;
    height: 100%;
    background-position: center;
    background-size: cover;

    &:hover {
      .tileOverlay {
        opacity: 0.96;
        transform: scale(1) translate(0, 0);
      }
      .tileContent {
        opacity: 1;
        transform: scale(1) translateY(-50%);
      }
    }

    .tileOverlay {
      opacity: 0;
      transform-origin: center center;
      transform: scale(0);
      transition: all 0.3s ease-in;
      height: 100%;
      background: var(--light-gray);
      background-color: var(--bg-color);
      border: 1px solid var(--light-gray);
    }

    .tileContent {
      opacity: 0;
      top: 50%;
      height: auto;
      transform: scale(0);
      transform-origin: center center;
      text-align: center;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1rem;
      transition:
        opacity 0.3s ease-in,
        transform 0.3s ease-in;

      h3 {
        margin: 0;
        font-family: $font-extra;
      }

      .tileContent__date {
        color: var(--grey-txt);
        display: inline-block;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -5px;
          width: 40%;
          background: var(--grey-txt);
          height: 2px;
        }
      }
      .tileContent_catWrap {
        margin-top: 0.5rem;
      }

      .tileContent__category {
        font-size: 0.9rem;
        color: var(--grey-txt);
      }
    }

    .tileOverlay,
    .tileContent {
      position: absolute;
      right: 5%;
      bottom: 5%;
      width: 90%;
      max-height: 90%;
    }
  }
}
.pagination {
  & > * {
    justify-content: center;
  }
}
