.heroSection {
    margin-top: 2em;
}

.projectsSection__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.projectsSection__header a {
    color: var(--mulberry-pink);
    margin-right: 1.5rem;
    position: relative;
    display: inline-block;
}

.projectsSection__header a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 0;
    border-bottom: 2px dotted var(--mulberry-pink);
}

@media (max-width: 375px) {
    .projectsSection__header {
        gap: 10px;
    }

    .projectsSection__header h3 {
        flex: 1;
    }

    .projectsSection__header a {
        font-size: .8em;
    }
}

@media (max-width: 320px) {
    .projectsSection__header {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .projectsSection__header a {
        margin-bottom: 5px;
    }
}