// 0. Functions first
@import '~bootstrap/scss/functions';
// 1. Custom variables and functions.
@import 'abstracts/variables';
// @import 'abstracts/mixins';
// 2. BOOTSTRAP - The core engine.
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';
// 3. BOOTSTRAP - Optional component imports.
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/helpers';
// Import the utilities API last to generate utility classes based on our custom variables.
@import '~bootstrap/scss/utilities/api';

// Custom styles
@import 'base/base';
@import 'base/utilities';
@import 'components/buttons';
@import 'components/cards';
@import 'components/modal';
@import 'components/header';
@import 'components/experience';
@import 'components/chabot';
@import 'components/inline-comment';
@import 'components/about';
@import 'components/archive';
@import 'components/hero';
@import 'components/footer';
