@use 'partials/variables' as *;

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .content {
    flex: 1;
    position: relative;
    padding-left: 1em;
    letter-spacing: 0.04em;

    *:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 4px;
      height: 100%;
      background-color: $mulberry-pink;
      opacity: 50%;
    }

    h1,
    h2 {
      font-size: 0.8em;
      margin-bottom: 0;
      letter-spacing: 0.05em;
    }

    p {
      margin-top: 0.5rem;
      font-weight: 300;
    }
  }

  .sm {
    font-size: 1em;
  }

  .lg {
    font-size: 2rem;
  }

  @media (max-width: 600px) {
    .lg {
      font-size: 1.5rem;
    }

    .sm {
      font-size: .84em;
    }
  }
}
